.datepicker input {
color: #075985;
border:1px solid rgb(209, 205, 205);
font-weight: bold;
}
.datepicker input:focus{
border-color: #075985;
box-shadow: 0 0 0 2px #075985;
}

.datepicker ::placeholder{
    color:#075985;
    font-weight:bold;

}

.datepicker svg{
    color: #075985;

}

.Category svg{
    color:#c9c91c;
}

