
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@tailwind base;
html{
  scroll-behavior: smooth;
}
@tailwind components;
@tailwind utilities;



.leaflet-container {
  height:160px;
  width: 300px;
}

::-webkit-file-upload-button {
  padding: 7px 12px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #0284c7;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  border:none
}
::-webkit-file-upload-button:hover{
  background-color: #075985;
}
/* 
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


